[submodule "vim/bundle/calendar-vim"]
	path = vim/bundle/calendar-vim
	url = git://github.com/mattn/calendar-vim
[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "vim/bundle/FuzzyFinder"]
	path = vim/bundle/FuzzyFinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = git://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/desert-warm-256"]
	path = vim/bundle/desert-warm-256
	url = git://github.com/vim-scripts/desert-warm-256.git
[submodule "vim/bundle/burnttoast256"]
	path = vim/bundle/burnttoast256
	url = git://github.com/vim-scripts/burnttoast256.git
[submodule "vim/bundle/Skittles-Berry"]
	path = vim/bundle/Skittles-Berry
	url = git://github.com/vim-scripts/Skittles-Berry.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = git://github.com/vim-scripts/badwolf.git
[submodule "vim/bundle/Gummybears"]
	path = vim/bundle/Gummybears
	url = git://github.com/vim-scripts/Gummybears.git
